.button {
    color: white;
    border-radius: 12px;
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button:hover {
    background-color: #218838;
    transform: scale(1.05);
  }
  
  .container {
    margin: 40px auto;
    background-color: black;
    border: 2px solid #ddd;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    max-width: 800px;
    min-height: 40vh;
  }
  
  .input {
    padding: 10px;
    margin: 15px 0;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 90%;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .input:focus {
    border-color: #28a745;
    outline: none;
  }
  
  /* Add responsiveness */
  @media (max-width: 768px) {
    .container {
      width: 80%;
    }
  
    .button {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    .input {
      width: 100%;
    }
  }
